# Xcode user state
xcuserdata/
*.xcuserstate
*.hmap

# Build products
build/
DerivedData/
.build/
*.ipa
*.dSYM
*.dSYM.zip
Carthage/Build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane output
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS metadata
.DS_Store
